@import '../../../../../styles/variables';

.title-wrapper {
  float: none;
  position: relative;

  .title-input {
    float: none;
    display: block;
    padding: 10px 0 10px 0;
    border: none;

    font-family: $mainFont;

    font-size: 1.2em;

    color: $appBlack;

    border-bottom: 1px solid $almostWhiteGray;
    z-index: 2;
  }
}
