<div class="col-xs-12 col-md-12 col-lg-12 title-wrapper">
  <form #form="ngForm">
      <textarea
        class="title-input col-xs-12 col-md-12 col-lg-12"
        placeholder="a short intro"
        cols="30"
        name="description"
        maxlength="200"
        (keydown)="onTyping()"
        [(ngModel)]="model.description"
        rows="5" ></textarea>
  </form>

  <cms-text-counter
    [text]="model.description"
    [max]="200">
  </cms-text-counter>

  <p
    class="saved saved-animation"
    [ngClass]="{'saved-move-up': !this.componentState.saved, 'saved-move-down': this.componentState.saved}">
    Saved</p>
</div>
