<div class="col-xs-12 col-md-12 col-lg-12 title-wrapper">
  <p class="block-name">SHORT DESCRIPTION</p>

  <form #form="ngForm">
      <textarea
        class="title-input col-xs-12 col-md-12 col-lg-12"
        placeholder="a short intro"
        cols="30"
        name="description"
        maxlength="200"
        (keydown)="onTyping()"
        [(ngModel)]="model.description"
        rows="5" ></textarea>
  </form>

  <p class="info col-xs-10 col-sm-10 col-md-10 col-lg-10">
    * If a short description exists, it will be put into the meta
    description tag which is important for SEO, so although it is not
    mandatory, it is a good idea to have it.
  </p>

  <cms-text-counter
    [text]="model.description"
    [max]="200">
  </cms-text-counter>

</div>
