@import '../../../../../styles/variables';

.title-wrapper {
  float: none;

  border: 1px solid $lightestGray;

  .title-input {
    float: none;
    display: block;
    padding: 10px;
    border: none;

    font-size: 1.2em;

    color: $appBlack;
  }
}
