<div class="container-fluid text-block-wrapper col-xs-12 col-md-9 col-lg-9">
  <form [formGroup]="textBlockForm" novalidate>
    <mat-form-field class="input-field col-xs-12 col-md-5 col-lg-4">
      <input matInput formControlName="internalName" placeholder="Internal name">
      <mat-error *ngIf="textBlockForm.controls.internalName.errors?.minlength">Minimum number of characters is {{textBlockForm.controls.internalName.errors?.minlength.requiredLength}}</mat-error>
      <mat-error *ngIf="textBlockForm.controls.internalName.errors?.maxlength">Maximum number of characters is {{textBlockForm.controls.internalName.errors?.maxlength.requiredLength}}</mat-error>
      <mat-error *ngIf="textBlockForm.controls.internalName.errors?.internalNameUnique && textBlockForm.controls.internalName.dirty">Internal name already exists but it has to be unique for this page</mat-error>

      <mat-hint>
        A name to associate to this text block. This name is only for internal use and is not used in the
        book build.
      </mat-hint>
    </mat-form-field>

    <mat-form-field class="input-field col-xs-12 col-md-5 col-lg-4">
      <textarea formControlName="shortDescription" matInput matTextareaAutosize matAutosizeMinRows=1 matAutosizeMaxRows=5 placeholder="A short description"></textarea>
    </mat-form-field>

    <div class="col-lg-12 col-md-12 col-xs-12 create-button">
      <button type="submit" mat-flat-button color="primary" (click)="onSubmit()" [disabled]="textBlockForm.status != 'VALID'">Create</button>
    </div>
  </form>
</div>
