@import '../../../../../styles/variables';

.cover-wrapper {
  float: none;

  .cover-input {
    float: none;
    display: block;
    padding: 10px 0 10px 0;
    border: none;

    font-family: $mainFont;

    font-size: 1.2em;

    color: $appBlack;

    border-bottom: 1px solid $almostWhiteGray;
    z-index: 2;

    &:focus {
      border-bottom: 1px solid $mainAppColor;
    }
  }

  .image-wrapper {
    float: none;
    margin-top: 20px;

    img {
      display: block;
      width: 100%;
    }
  }

  .info {
    font-size: 0.8em;
    font-style: italic;
    margin: 15px 0 15px 0;
  }
}

