<div
  class="cover-wrapper col-lg-12 col-md-12 col-xs-12">
  <input
    class="cover-input col-xs-12 col-md-12 col-lg-12"
    type="text"
    name="title"
    maxlength="200"
    [(ngModel)]="cover"
    (ngModelChange)="onChange($event)"
    placeholder="Cover image url (Unsplash only)" />

  <p
    *ngIf="appContext.knowledgeSource.state !== 'draft'"
    class="info col-xs-12 col-md-12 col-lg-12">* From a user experience point of view, it is better to add a cover image. Also, only blogs that have a cover image will be listed on the front page as the 'Latest blogs'</p>

  <div
    *ngIf="hasCover"
    class="image-wrapper col-xs-12 col-md-12 col-lg-12">
    <img [src]="realUrl" />
  </div>
</div>
