<div
   class="col-xs-10 col-sm-10 col-md-10 col-lg-10 shared-item item">

  <div class="title-bar col-xs-12 col-md-12 col-lg-12">
    <i
      (click)="onRemove($event)"
      class="remove-icon fas fa-trash-alt"></i>

    <p
      *ngIf="!noTitle"
      class="title">{{realTitle}}
    </p>

    <p
      *ngIf="noTitle"
      class="no-title">No title</p>
  </div>

  <div class="state-info col-xs-12 col-md-12 col-lg-12">
    <p class="draft" *ngIf="item.state === 'draft'">DRAFT</p>
    <p class="published" *ngIf="item.state === 'published'">PUBLISHED</p>
    <p class="changed" *ngIf="item.state === 'changed'">PUBLISHED BUT CHANGED
      <i
        #tooltip="matTooltip"
        (click)="onTooltipShow($event, tooltip)"
        matTooltipClass="warning-tooltip"
        matTooltipPosition="above"
        matTooltipShowDelay="100"
        matTooltipHideDelay="100"
        matTooltip="This blog has been changed after it was published and it is not public anymore! Republish the changes if you wish to make it public again."
        class="warning-icon fas fa-exclamation-triangle"></i></p>
  </div>

  <button
    (click)="onViewPublished($event)"
    [ngClass]="{'view-published-disabled': !isPublished}"
    class="view-published">
    View published</button>

  <div class="createdAt">
    {{formattedDate()}}
  </div>

  <div class="actions col-xs-12 col-md-12 col-lg-12">
    <a
      *ngIf="!writeLoading"
      (click)="onWrite()"
      class="item-button">
      Write
      <i class="icon fas fa-wifi"></i>
    </a>

    <span *ngIf="writeLoading" class="item-button write-loading-button">
      <i class="write-loading fas fa-atom fa-spin"></i>
    </span>

    <a
      [ngClass]="{'item-button': true, 'preview-disabled': noTitle}"
      (click)="onPublish($event)">
      {{(item.state === 'changed' || item.state === 'published') ? 'Republish' : 'Publish'}}
      <i class="icon fas fa-wifi"></i>
    </a>

    <a
      [ngClass]="{'item-button': true, 'preview-disabled': noTitle}"
      (click)="onPreview($event)">
      Preview
      <i class="icon fas fa-bullseye"></i>
    </a>
  </div>

</div>
