<div class="col-xs-12 col-md-12 col-lg-12">
  <div class="col-xs-12 col-md-12 col-lg-12 settings-wrapper">
    <div class="col-xs-12 col-md-8 col-lg-8 settings">

<!--      <div class="col-xs-12 col-lg-12 col-md-12 item">

        <div class="col-xs-12 col-md-12 col-lg-12 header">
          <h1>Subscriptions</h1>
        </div>

        <p *ngIf="noSubscriptions === true" class="no-items col-xs-12 col-lg-12 col-md-12">You have no active subscriptions</p>

        <div *ngIf="!noSubscriptions">
          <div *ngFor="let subscription of subscriptions" class="entry col-xs-10 col-lg-10 col-md-10">
            <cms-subscription-item
              [subscriptionMetadata]="subscription">
            </cms-subscription-item>
          </div>
        </div>
      </div>-->

    </div>
  </div>
</div>
