@import '../../../../../../../styles/variables';

.four-icons-position {
  left: 140px;
}

.two-icons-position {
  left: 193px;
}

.action-set {
  top: -34px;
  position: absolute;

  padding: 5px;
  font-size: 1.2em;

  .action {
    float: right;
    color: white;

    padding: 5px;

    background-color: rgba(67, 76, 94, 0.7);

    i {
      display: block;
      margin: 0 auto;
    }
  }

  .action:last-child {
    border-top-left-radius: 5px;
  }

  .action:first-child {
    border-top-right-radius: 5px;
  }

  .action:hover {
    background-color: $mainAppColor;
    color: white;
  }

  .remove:hover {
    background-color: $dangerRed;
    color: white;
  }
}

.root-action-set {
  width: 120px;
  top: 5px;
  left: 140px;
  position: absolute;
  font-size: 1.2em;

  .action {
    color: $appBlack;
    float: right;
    margin-right: 5px;

    padding: 0 5px 0 5px;
  }

  .action:hover {
    color: $mainAppColor;
  }
}
