<div
  class="col-xs-12 col-md-3 col-lg-3 structure"
  #structureWrapper>

    <div *ngFor="let item of structure">
      <cms-directory
        (expandDirectoryEvent)="expandDirectoryEvent($event)"
        (unExpandDirectoryEvent)="unExpandDirectoryEvent($event)"
        (addDirectoryEvent)="addDirectoryEvent($event)"
        (addFileEvent)="addFileEvent($event)"
        (fileRemovedEvent)="removeFileEvent($event)"
        (removeDirectoryEvent)="removeDirectoryEvent($event)"
        (directoryAttachedEvent)="onItemAttachEvent($event)"
        [selectedItem]="selectedItem"
        [extension]="project.environment.extension"
        *ngIf="isDirectory(item)"
        [directory]="item">

        <div class="drag-preview" *cdkDragPreview>
          Drop when ready
        </div>

      </cms-directory>

      <cms-file
        *ngIf="isFile(item)"
        (fileAttachedEvent)="onItemAttachEvent($event)"
        [selectedItem]="selectedItem"
        [file]="item"
        [extension]="project.environment.extension"
        (fileRemovedEvent)="removeFileEvent($event)">

        <div class="drag-preview" *cdkDragPreview>
          Drop when ready
        </div>

      </cms-file>
    </div>
</div>
