<div
  class="col-xs-12 col-md-3 col-lg-3 structure"
  #structureWrapper>

    <div *ngFor="let item of structure">
      <cms-root-directory
          *ngIf="isDirectory(item) && item.isRoot"
          [fileCutFinishedEvent]="fileCutFinishedSubject"
          [project]="project"
          [extension]="project.environment.extension"
          [copyBufferSubject]="copyBufferSubject"
          [copyUnbufferSubject]="copyUnBufferSubject"
          [directory]="item">
      </cms-root-directory>

      <cms-directory
        *ngIf="isDirectory(item) && !item.isRoot"
        [fileCutFinishedEvent]="fileCutFinishedSubject"
        [project]="project"
        [extension]="project.environment.extension"
        [copyBufferSubject]="copyBufferSubject"
        [copyUnbufferSubject]="copyUnBufferSubject"
        [directory]="item">

        <div class="drag-preview" *cdkDragPreview>
          Drop when ready
        </div>
      </cms-directory>

      <cms-file
          *ngIf="isFile(item)"
          [file]="item"
          [copyBufferSubject]="copyBufferSubject"
          [extension]="project.environment.extension">

        <div class="drag-preview" *cdkDragPreview>
          Drop when ready
        </div>

      </cms-file>
    </div>
</div>
