<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <p>Warning!</p>

    <i class="icon fas fa-exclamation-circle"></i>
  </div>

  <div class="simple-text col-xs-12 col-md-12 col-lg-12">
    This blog is already published. If you change something now, the blog will be
    unpublished and will <i class="highlight">not be public anymore</i>. You will have to republish it again
    to make it public. Please, keep that in mind and don't forget to republish after
    finishing with your changes.
  </div>

  <div class="dialog-actions col-xs-12 col-md-12 col-lg-12">
    <button class="button" (click)="onConfirm()">I understand</button>
  </div>
</div>
