@import '../../../../../../../../styles/variables';

.file {
  position: relative;
  width: 100%;
  float: left;

  .file-name {
    width: 100%;
    float: left;

    padding: 5px;

    .text {
      font-size: 13px;
      color: white;
      width: 150px;
      float: left;

      margin: 0;

      padding: 5px 0 5px 8px;
    }

    .icon {
      width: 25px;
      display: inline-block;
      float: left;
      color: $lightGray;

      padding: 5px 8px 5px 8px;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &:hover .file-name .icon {
    color: white;
  }
}

.file-selected {
  background-color: $mainAppColorDark;

  .file-name .icon {
    color: $appBlack;
  }

  &:hover {
    cursor: pointer;
  }
}
