<div
  class="col-xs-12 col-md-3 col-lg-3 file"
  (drag)="onDrag()"
  draggable="true">
  <div
    (dblclick)="showFile()"
    class="file-name"
    (mouseenter)="fileHovered()"
    (mouseleave)="fileUnHovered()"
    [ngStyle]="this.fileStyles">

    <i
      #iconRef
      class="icon"
      [ngClass]="iconSpecificFile">
    </i>

    <h1 class="text">{{file.name}}</h1>

    <cms-action-set
      [rightWidth]="'-234'"
      (onActionEditEvent)="editFileDialog()"
      (onActionDeleteEvent)="removeFileDialog()"
      (onActionCopyEvent)="onCopy()"
      [externalExpand]="toggleActionSet"
      [showDelete]="true"
      [showCopy]="true"
      [showEdit]="true"></cms-action-set>
  </div>
</div>
