<div class="col-xs-12 col-md-12 col-lg-12">
  <div
    *ngIf="blog"
    class="col-xs-10 col-lg-8 col-md-8 publish-wrapper">

    <div class="item title col-xs-12 col-md-12 col-lg-12">
      <h1>TITLE</h1>
      <div class="border col-xs-12 col-md-12 col-lg-12"></div>

      <div class="content-wrapper col-xs-12 col-md-12 col-lg-12">
        <p class="content">{{blog.title}}</p>
      </div>

    </div>

    <div class="item published-url col-xs-12 col-md-12 col-lg-12">
      <h1>PUBLISHED URL</h1>
      <div class="border col-xs-12 col-md-12 col-lg-12"></div>

      <div class="content-wrapper col-xs-12 col-md-12 col-lg-12">
        <p class="content">{{publishedUrl}}</p>
      </div>
    </div>

    <div class="item linked-code-projects col-xs-12 col-md-12 col-lg-12">
      <h1>LINKED CODE PROJECTS</h1>
      <div class="border col-xs-12 col-md-12 col-lg-12"></div>

      <div class="content-wrapper col-xs-12 col-md-12 col-lg-12">
        <div
          class="content"
          *ngIf="codeProjects.length > 0">
          <div
            *ngFor="let item of codeProjects"
            class="col-xs-10col-md-5 col-lg-5 cp-item">
            <cms-cp-item
              [wrapperClasses]="'col-xs-12 col-md-12 col-lg-12'"
              [includeEdit]="false"
              [item]="item">
            </cms-cp-item>
          </div>
        </div>
      </div>

      <p
        class="no-code-projects col-xs-12 col-md-12 col-xs-12"
        *ngIf="codeProjects.length === 0">No code projects to show</p>
    </div>

    <div class="item hashtag-area col-xs-12 col-md-12 col-lg-12">
      <h1>CHOOSE YOUR HASHTAGS</h1>
      <div class="border col-xs-12 col-md-12 col-lg-12"></div>
      <span
        class="info col-xs-12 col-md-12 col-lg-12">
        * in The Rebel Source, hashtags serve the purpose of categories. Users can search all
        content related to a hashtag so choose your hashtags wisely. You can add up to
        <span class="info-highlight">5</span> hashtags and <span class="info-highlight">you have to add at least one hashtag</span>.
      </span>

      <div class="content-wrapper col-xs-12 col-md-12 col-lg-12">
        <div class="search col-xs-12 col-md-12 col-lg-12">
          <input
            type="text"
            placeholder="Filter hashtags"
            [(ngModel)]="searchedHashtag"
            (ngModelChange)="onFilterHashtags()"
            class="col-xs-12 col-md-12 col-lg-12" />
        </div>

        <div
          *ngIf="selectedTags.length > 0"
          class="selected col-xs-12 col-md-12 col-lg-12">

          <div
            *ngFor="let h of selectedTags; index as i"
            class="hashtag" [ngStyle]="{width: h.width}"
            (click)="onRemoveHashtag(i)">
            <i class="icon fas fa-hashtag"></i>
            <span class="text">{{h.hashtag.substring(1)}}</span>
          </div>
        </div>

        <div class="list col-xs-12 col-md-12 col-lg-12">
          <div
            *ngFor="let h of filteredHashtags"
            class="hashtag" [ngStyle]="{width: h.width}"
            (click)="onHashtagSelect(h)">
            <i class="icon animated-icon fas fa-hashtag"></i>
            <span class="text">{{h.hashtag.substring(1)}}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="item actions-area col-xs-12 col-md-12 col-lg-12">
      <div
        *ngIf="noHtagsSelected"
        class="error col-xs-12 col-md-12 col-lg-12">No hashtags selected. You have to select at least one hashtag.</div>

      <button
        class="button publish-button"
        [ngClass]="{'publish-in-progress': publishInProgress}"
        (click)="onPublish()">{{(this.isAlreadyPublished) ? 'Republish' : 'Publish' }} <i class="icon fas fa-wifi"></i>
      </button>

      <button
        class="button"
        [ngClass]="{'publish-in-progress': publishInProgress}"
        (click)="onPreview($event)">Preview <i class="icon fas fa-bullseye"></i>
      </button>
    </div>
  </div>
</div>
