<div class="col-xs-12 col-md-12 col-lg-12">
  <div
    *ngIf="blog"
    class="col-xs-10 col-lg-8 col-md-8 publish-wrapper">

    <div class="item title col-xs-12 col-md-12 col-lg-12">
      <h1>TITLE</h1>
      <p>{{blog.title}}</p>
    </div>

    <div class="item published-url col-xs-12 col-md-12 col-lg-12">
      <h1>PUBLISHED URL</h1>
      <p>{{publishedUrl}}</p>
    </div>

    <div class="item linked-code-projects col-xs-12 col-md-12 col-lg-12">
      <h1>LINKED CODE PROJECTS</h1>
      <div
        *ngIf="codeProjects.length > 0">
        <div
          *ngFor="let item of codeProjects"
          class="col-xs-8 col-md-5 col-lg-5 cp-item">
          <cms-cp-item
            [wrapperClasses]="'col-xs-12 col-md-12 col-lg-12'"
            [includeEdit]="false"
            [item]="item">
          </cms-cp-item>
        </div>
      </div>


    </div>

    <div class="item hashtag-area col-xs-12 col-md-12 col-lg-12">
      <h1>CHOOSE YOUR HASHTAGS</h1>
      <p>Hashtags</p>
    </div>

    <div class="item actions-area col-xs-12 col-md-12 col-lg-12">
      <button class="btn">Publish</button>
      <button class="btn" (click)="onPreview($event)">Preview</button>
    </div>
  </div>
</div>
