<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="fas fa-link icon"></i>
    <p>Link a code project</p>
  </div>

  <div class="source-listing col-xs-12 col-md-12 col-lg-12">
    <div
      class="item col-xs-12 col-md-12 col-lg-12"
      (click)="onSelect()">
      <div class="icon">
        <i class="far fa-circle"></i>
      </div>

      <p class="title">
        Title
      </p>
    </div>

    <div
      class="item col-xs-12 col-md-12 col-lg-12"
      (click)="onSelect()">
      <div class="icon">
        <i class="far fa-circle"></i>
      </div>

      <p class="title">
        Title
      </p>
    </div>

    <div
      class="item col-xs-12 col-md-12 col-lg-12"
      (click)="onSelect()">
      <div class="icon">
        <i class="far fa-circle"></i>
      </div>

      <p class="title">
        Title
      </p>
    </div>
  </div>
</div>
