@import '../../../../../../styles/variables';

.tab {
  width: 191px;
  float: left;

  font-size: 0.8em;

  position: relative;

  margin: 0; padding: 0;

  padding: 5px 10px 5px 15px;

  background-color: $lighterGray;
  border-top: 2px solid $mainAppColor;

  &:hover {
    cursor: pointer;
  }

  p {
    margin: 0; padding: 0;
  }

  i {
    display: inline-block;
    position: absolute;

    color: $lightGray;

    top: 7px;
    right: 5px;

    &:hover {
      color: $mainAppColor;
      cursor: pointer;
    }
  }
}

.selected-tab {
  background-color: white;

  i {
    color: $appBlack;
  }
}
