@import '../../../../styles/variables';

.search-wrapper {
  float: none;

  .input-wrapper {
    float: none;
    margin: 0 auto;
    position: relative;

    .search-icon {
      position: absolute;
      bottom: 11px; left: 10px;
      color: $lightestGray;
      font-size: 1.5em;
    }

    .input-component {
      width: 100%;
      padding: 10px;

    }
  }
}
