<div
  (mouseenter)="onMouseEnter()"
  (mouseleave)="onMouseLeave()"
  class="text-block-wrapper col-lg-12 col-md-12 col-xs-12">

  <div class="block-metadata col-xs-12 col-lg-12 col-md-12">
    <div class="block-actions col-lg-12 col-md-12 col-xs-12">
      <div>
        <cms-internal-name></cms-internal-name>
        <cms-short-description></cms-short-description>
      </div>

      <div
        [style.visibility]="(componentState.focused) ? 'visible' : 'hidden'"
        class="block-action col-lg-5 col-md-5 col-xs-5">

        <div class="icon-group">
          <fa (click)="remove()" class="icon remove-icon" name="trash"></fa>
        </div>

      </div>
    </div>
  </div>

  <div
    class="text-block col-lg-12 col-md-12 col-xs-12 text-editor-wrapper"
    (click)="createEditor()"
    [ngClass]="{'editor-not-created': !editorCreated}">
    <ckeditor
      *ngIf="editorCreated"
      [editor]="editor"
      [(ngModel)]="componentData.value.text"
      (ready)="onEditorReady($event)"
      required
      data=""
      name="text">
    </ckeditor>
  </div>

</div>
