@import '../../../../../styles/variables';

.work-area {
  .page {
    width: 900px;
    height: 1000px;

    margin: 10% auto;
    padding: 4%;

    background-color: white;

    border: 1px solid $lightestGray;
  }
}

.work-area-class div {
  border: 1px dotted black !important;
}
