<div class="col-xs-12 col-md-12 col-lg-12">
  <nav class="menu col-xs-12 col-md-12 col-lg-12">
    <div class="menu-entry">
      <a
        class="entry"
        routerLink="./info"
        [ngClass]="{'entry': true, 'selected': type === 'info'}">
        Info
      </a>
    </div>

    <div class="menu-entry">
      <a
        class="entry"
        routerLink="./packages"
        [ngClass]="{'selected': type === 'packages'}">
        Packages
      </a>
    </div>

    <div class="menu-entry">
      <a
        class="entry"
        routerLink="./settings"
        [ngClass]="{'selected': type === 'settings'}">
        Settings
      </a>
    </div>
  </nav>
</div>
