<div
  class="col-xs-12 col-md-3 col-lg-3 directory"
  draggable="true"
  [id]="directory.id">
  <div
    class="dir-name"
    (drop)="onDrop()"
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter()"
    (dragexit)="onDragExit()"
    (drag)="onDrag()"
    [ngClass]="{'dragged-over': draggedOver}"
    [ngStyle]="dirStyles">

    <i
      (click)="loadStructure()"
      [ngClass]="expandedIcon"
      class="icon expand-icon">
    </i>

    <i
      class="icon fas fa-folder">
    </i>

    <h1
      (dblclick)="loadStructure()"
      class="text">{{directory.name}}
    </h1>

    <cms-action-set
      *ngIf="!directory.isRoot"
      [rightWidth]="'-234'"
      (onActionDeleteEvent)="removeDirectoryDialog()"
      (onActionAddFileEvent)="newFileDialog()"
      (onActionAddDirectoryEvent)="newDirectoryDialog()"
      (onActionEditEvent)="editDirectoryDialog()"
      (onActionPasteEvent)="onPaste()"
      (onActionCopyEvent)="onCopy()"
      [externalExpand]="toggleActionSet"
      [showDelete]="true"
      [showEdit]="true"
      [showAddFile]="true"
      [showAddDirectory]="true"
      [showCopy]="true"
      [showPaste]="copyExpected"
    ></cms-action-set>
  </div>

  <div *ngFor="let item of structure">
    <cms-directory
      *ngIf="item.type === 'directory'"
      [fileCutFinishedEvent]="fileCutFinishedEvent"
      [parentEvent]="parentCommunicator"
      [project]="project"
      [extension]="extension"
      [copyBufferSubject]="copyBufferSubject"
      [copyUnbufferSubject]="copyUnbufferSubject"
      [directory]="item">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>
    </cms-directory>

    <cms-file
      *ngIf="item.type === 'file'"
      [project]="project"
      [parentEvent]="parentCommunicator"
      [basePadding]="expandedPadding"
      [file]="item"
      [copyBufferSubject]="copyBufferSubject"
      [extension]="extension">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>

    </cms-file>
  </div>
</div>
