<div
  class="col-xs-12 col-md-3 col-lg-3 directory"
  (drop)="onDrop()"
  (dragover)="onDragOver($event)"
  (dragenter)="onDragEnter()"
  (dragexit)="onDragExit()"
  (drag)="onDrag()"
  [id]="directory.id"
  [ngClass]="{'dir-selected': selected && !directory.isRoot && selectedItem && selectedItem.type === 'directory' && selectedItem.id === directory.id}">
  <div
    class="dir-name"
    (click)="onExpandDirectory()"
    (mouseenter)="directoryHovered()"
    (mouseleave)="directoryUnHovered()"
    [ngClass]="{'dragged-over': draggedOver}"
    [ngStyle]="dirStyles">

    <i
      *ngIf="!directory.isRoot"
      class="icon"
      [ngClass]="icons.dirCaret">
    </i>

    <i
      *ngIf="directory.isRoot"
      class="icon"
      [ngClass]="icons.dirCaret">
    </i>

    <h1 class="text">{{directory.name}}</h1>

    <div class="root-action-set" *ngIf="directory.isRoot">
      <div class="action">
        <i (click)="newDirectoryFromRootDialog()" [ngClass]="this.icons.newDir"></i>
      </div>

      <div class="action">
        <i (click)="newFileFromRootDialog()" [ngClass]="this.icons.newFile"></i>
      </div>
    </div>

    <cms-action-set
      *ngIf="!directory.isRoot"
      [rightWidth]="'-234'"
      (onActionDeleteEvent)="removeDirectoryDialog()"
      (onActionAddFileEvent)="newFileDialog()"
      (onActionAddDirectoryEvent)="newDirectoryDialog()"
      (onActionEditEvent)="editDirectoryDialog()"
      [showDelete]="true"
      [showEdit]="true"
      [showAddFile]="true"
      [showAddDirectory]="true"
      [showCopy]="true"
    ></cms-action-set>
  </div>
</div>
