@import '../../../../../../../../styles/variables';

.directory {
  width: 269px;
  float: left;
  position: relative;

  border-left: 4px solid $appBlack;

  .dir-name {
    width: 100%;
    float: left;

    padding: 10px;

    .text {
      font-size: 13px;
      color: white;
      width: 150px;
      float: left;

      padding: 0;
      margin: 0;

      padding-left: 5px;
    }

    .icon {
      width: 20px;
      display: inline-block;
      float: left;
      color: white;
    }
  }

  .root-action-set {
    width: 120px;
    top: 5px;
    left: 140px;
    position: absolute;
    font-size: 1.2em;

    .action {
      color: white;
      float: right;
      margin-right: 5px;

      padding: 0 7px 0 7px;
    }

    .action:hover {
      color: white;
    }
  }

  &:hover {
    background-color: $mainAppColor;
    cursor: pointer;
  }

  &:hover .dir-name .icon {
    color: white;
  }
}

.dir-selected {
  background-color: $mainAppColorDark;
  border-left: 4px solid $mainAppColor;

  .dir-name .icon {
    color: white;
  }

  &:hover {
    cursor: pointer;
  }
}
