<div
  class="col-xs-12 col-md-3 col-lg-3 directory"
  draggable="true"
  [id]="directory.id"
  [ngClass]="{'dir-selected': selected && !directory.isRoot && selectedItem && selectedItem.type === 'directory' && selectedItem.id === directory.id}">
  <div
    class="dir-name"
    (drop)="onDrop()"
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter()"
    (dragexit)="onDragExit()"
    (drag)="onDrag()"
    (mouseenter)="directoryHovered()"
    (mouseleave)="directoryUnHovered()"
    [ngClass]="{'dragged-over': draggedOver}"
    [ngStyle]="dirStyles">

    <i
      *ngIf="!directory.isRoot"
      (click)="onExpand()"
      [ngClass]="icons.angle"
      class="icon expand-icon">
    </i>

    <i
      *ngIf="!directory.isRoot"
      class="icon"
      [ngClass]="icons.dirCaret">
    </i>

    <i
      *ngIf="directory.isRoot"
      class="icon"
      [ngClass]="icons.dirCaret">
    </i>

    <h1
      (dblclick)="onExpand()"
      class="text">{{directory.name}}</h1>

    <div class="root-action-set" *ngIf="directory.isRoot">
      <div class="action" *ngIf="copyExpected">
        <i (click)="onPasteToRoot()" class="fas fa-paste"></i>
      </div>

      <div class="action">
        <i (click)="newDirectoryFromRootDialog()" [ngClass]="this.icons.newDir"></i>
      </div>

      <div class="action">
        <i (click)="newFileFromRootDialog()" [ngClass]="this.icons.newFile"></i>
      </div>
    </div>

    <cms-action-set
      *ngIf="!directory.isRoot"
      [rightWidth]="'-234'"
      (onActionDeleteEvent)="removeDirectoryDialog()"
      (onActionAddFileEvent)="newFileDialog()"
      (onActionAddDirectoryEvent)="newDirectoryDialog()"
      (onActionEditEvent)="editDirectoryDialog()"
      (onActionPasteEvent)="onPaste()"
      (onActionCopyEvent)="onCopy()"
      [showDelete]="true"
      [showEdit]="true"
      [showAddFile]="true"
      [showAddDirectory]="true"
      [showCopy]="true"
      [showPaste]="copyExpected"
    ></cms-action-set>
  </div>

  <div *ngFor="let item of structure">
    <cms-directory
      *ngIf="item.type === 'directory'"
      [fileCutFinishedEvent]="fileCutFinishedEvent"
      [selectedItem]="selectedItem"
      [project]="project"
      [extension]="extension"
      [copyBufferSubject]="copyBufferSubject"
      [copyUnbufferSubject]="copyUnbufferSubject"
      [directory]="item">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>
    </cms-directory>

    <cms-file
      *ngIf="item.type === 'file'"
      [basePadding]="expandedPadding"
      [selectedItem]="selectedItem"
      [file]="item"
      [copyBufferSubject]="copyBufferSubject"
      [extension]="extension">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>

    </cms-file>
  </div>
</div>
