<div class="col-xs-12 col-md-4 col-lg-4 block-input metadata-action">
  <cms-metadata-placeholder
    [text]="(value) ? value : initialText"
    (click)="showInputField()"
    [type]="type"
    *ngIf="!toggleInputField">
  </cms-metadata-placeholder>

  <div
    class="col-xs-12 col-md-12 col-lg-12 input-field"
    *ngIf="toggleInputField">
    <mat-form-field>
      <mat-label>{{label}}</mat-label>
      <input *ngIf="type == 'internal-name'" matInput (blur)="onBlur()" [(ngModel)]="value"/>
      <textarea *ngIf="type == 'short-description'" matInput (blur)="onBlur()" [(ngModel)]="value"></textarea>
    </mat-form-field>

    <fa-icon (click)="hideInputField()" class="icon" [icon]="icons.times"></fa-icon>
  </div>
</div>
