<div class="container-fluid menu-wrapper">
  <div>

      <cms-menu-button
        [text]="'Text block'"
        [icon]="'paragraph'"
        [wrapperClass]="'wrapper-width-110'"
        (click)="onClick()">
      </cms-menu-button>

      <cms-menu-button [text]="'Image'" [icon]="'image'" [wrapperClass]="'wrapper-width-110'"></cms-menu-button>
      <cms-menu-button [text]="'Video'" [icon]="'film'" [wrapperClass]="'wrapper-width-110'"></cms-menu-button>
      <cms-menu-button [text]="'Font'" [icon]="'font'" [wrapperClass]="'wrapper-width-110'"></cms-menu-button>
      <cms-menu-button [text]="'Footnote'" [icon]="'sticky-note'" [wrapperClass]="'wrapper-width-110'"></cms-menu-button>
      <cms-menu-button [text]="'Code'" [icon]="'code'" [wrapperClass]="'wrapper-width-110'"></cms-menu-button>
      <cms-menu-button [text]="'Dynamic forms'" [icon]="'wpforms'" [wrapperClass]="'wrapper-width-150'"></cms-menu-button>

  </div>
</div>
