<div class="col-xs-12 col-md-12 col-lg-12 code-projects">

  <div
    class="col-xs-12 col-md-12 col-lg-12 cp-search-wrapper">
    <cms-search></cms-search>
  </div>

  <div class="col-xs-12 col-md-12 col-lg-12 cp-list">
    <cms-cp-item
      *ngFor="let item of items"
      (itemDeleted)="onItemDeleted(item)"
      [item]="item">
    </cms-cp-item>
  </div>

  <div
    *ngIf="items.length === 0"
    class="col-xs-12 col-md-12 col-lg-12 no-items">
    No items
  </div>

  <div
    *ngIf="items.length >= size"
    class="col-xs-12 col-md-12 col-lg-12 more-button-wrapper">
    <button
      *ngIf="paginationPossible"
      class="btn more-button">More</button>

    <div
      *ngIf="!paginationPossible"
      class="no-more-items"
    >No more items</div>
  </div>
</div>
