<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="far fa-edit icon"></i>
    <p>Rename directory <span class="highlight">{{model.name}}</span></p>
  </div>

  <div class="dialog-content form-group">
      <input cdkFocusInitial (keyup.enter)="editDirectory()" [(ngModel)]="placeholderName"  placeholder="Name" class="form-input form-control">
  </div>

  <div class="dialog-actions">
    <button class="btn create" cdkFocusInitial (click)="editDirectory()">Rename</button>
  </div>
</div>
