<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="far fa-edit icon"></i>
    <p>Rename directory <span class="highlight">{{model.name}}</span></p>
  </div>

  <div class="dialog-content form-group">
      <input
        cdkFocusInitial
        (keyup.enter)="editDirectory()"
        [(ngModel)]="model.name"
        (ngModelChange)="onModelChange()"
        placeholder="Name"
        class="form-input form-control">
  </div>

  <p *ngIf="directoryExists" class="error col-xs-12 col-md-12 col-lg-12">
    {{directoryExists}}
  </p>

  <p *ngIf="noWhitespace" class="error col-xs-12 col-md-12 col-lg-12">
    {{noWhitespace}}
  </p>

  <div class="dialog-actions">
    <button [disabled]="createDisabled" class="btn create" cdkFocusInitial (click)="editDirectory()">Rename</button>
  </div>
</div>
