<div
  class="col-xs-12 col-md-9 col-lg-9 editor-workspace"
  style="height: 100%">
  <cms-file-tabs
    (tabCloseEvent)="onTabClose($event)"
    [tabs]="tabs"
    (tabSelectEvent)="onTabSelect($event)"
    [selectedTab]="selectedTab">
  </cms-file-tabs>

  <cms-text-editor
    [contentLoadedEvent]="contentLoadedEvent"
    [tab]="selectedTab"
    [hasTabs]="hasTabs"
    [codeProjectUuid]="project.uuid">
  </cms-text-editor>

  <cms-playground [codeProjectUuid]="project.uuid"></cms-playground>
</div>
