<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="fas fa-file-alt icon"></i>
    <p>Add a new file</p>
  </div>

  <div class="dialog-content form-group">
      <input cdkFocusInitial (keyup.enter)="createFile()" [(ngModel)]="model.name"  placeholder="Name" class="form-input form-control">
  </div>

  <div class="dialog-actions">
    <button class="btn create" cdkFocusInitial (click)="createFile()">Create</button>
  </div>
</div>
