@import '../../../../../styles/variables';

.code-projects-missing {
  margin-bottom: 40px;

  p {
    text-align: center;
    margin-bottom: 20px;
  }

  button {
    display: block;
    margin: 0 auto;
    border: none;
  }

  button:hover {
    border: none;
  }
}

.add-new-wrapper {
  margin-bottom: 40px;
}

.source-listing {
  button {
    display: block;
    margin: 0 auto;
    border: none;
  }

  button:hover {
    border: none;
  }

  .item {
    padding: 10px;
    margin-bottom: 30px;

    border-bottom: 1px solid $lightestGray;
    border-right: 2px solid $editorMainColor;

    .title {
      width: 80%;
      float: right;

      margin-top: 5px;
    }

    .title-info {
      font-style: italic;
      font-size: 0.8em;
    }

    .icon {
      width: 20%;
      float: left;
      margin-top: 5px;
      color: $lightestGray;

      transition: color 0.5s;
      -o-transition: color 0.5s;
      -moz-transition: color 0.5s;
      -webkit-transition: color 0.5s;
    }

    &:hover .icon {
      color: $editorMainColor;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
