<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="fas fa-link icon"></i>
    <p>Import code project</p>
  </div>

  <div class="info">
    <h1 class="title">
      <i class="fas fa-info icon"></i>
    </h1>

    <p>Keep in mind that a single knowledge source, in this case a blog, can have up to 3 imported code projects</p>
  </div>

  <div class="col-xs-12 col-md-12 col-lg-12 code-projects-missing">
    <p>You haven't created any code projects</p>

    <div class="add-new-wrapper col-xs-12 col-md-12 col-lg-12">
      <button
        class="btn btn-success"
        (click)="onCreateNew()">
        Create code project</button>
    </div>
  </div>
</div>
