@import '../../../../../styles/variables';

.info-wrapper {
  .info-collection {
    margin-top: 40px;
  }

  .info-entry {
    border-bottom: 1px solid $lightestGray;

    margin-bottom: 20px;
  }

  .designation {
    width: 50px;
    float: left;

    i {
      color: $lightGray;
    }
  }

  .message {
    float: left;
    color: $textColor;
    font-size: 0.9em;
  }

  .highlight {
    font-weight: bold;
  }
}
