<div class="col-xs-12 col-md-3 col-lg-3 directory">
  <div
    class="dir-name"
    (dblclick)="expandDirectory()"
    (mouseenter)="directoryHovered()"
    (mouseleave)="directoryUnHovered()"
    [ngStyle]="componentState.dirStyles">

    <i
      *ngIf="!directory.isRoot"
      (click)="expandDirectory()"
      class="icon"
      [ngClass]="componentState.icons.dirCaret">
    </i>

    <i
      *ngIf="directory.isRoot"
      class="icon"
      [ngClass]="componentState.icons.dirCaret">
    </i>

    <h1 class="text">{{directory.name}}</h1>

    <div class="action-set" *ngIf="componentState.hovered">
      <i class="action" *ngIf="!directory.isRoot" (click)="removeDirectoryDialog()" [ngClass]="this.componentState.icons.removeDirectory"></i>
      <i class="action" (click)="newDirectoryDialog()" [ngClass]="this.componentState.icons.newDir"></i>
      <i class="action" (click)="newFileDialog()" [ngClass]="this.componentState.icons.newFile"></i>
    </div>
  </div>
</div>
