@import '../../../../../styles/variables';

.content {
  text-align: center;
  margin-bottom: 40px;
}

.dialog-actions {
  .button {
    float: right;
    border-radius: 2px;

    background-color: white;
    border: 1px solid $mainAppColor;

    &:hover {
      color: white;
      background-color: $mainAppColor;
      border: 1px solid $mainAppColor;
    }
  }

  .button:first-child {
    margin-left: 10px;
  }
}
