@import '../../../../styles/variables';

.notice {
  background-color: $almostWhiteGray;
  padding: 15px;
  font-style: italic;
  font-size: 0.9em;
}

.nav {
  border-top: 1px solid $almostWhiteGray;
  margin-top: 40px;
  padding-top: 20px;
}

.step-one {
  font-size: 1em;

  .subline {
    padding-left: 25px;
  }

  .line, .subline {
    margin-bottom: 10px;

    i {
      margin-right: 10px;
      color: $almostWhiteGray;
    }

    &:hover i {
      color: $mainAppColor;
      display: inline-block;
    }
  }

  a {
    display: inline-block;
    color: $appBlack;
    font-size: 0.9em;
    text-underline: none;

    &:hover {
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.help-content {
  margin-top: 40px;

  a {
    display: inline-block;
    color: $mainAppColor;
    text-underline: none;

    &:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  .main-header {
    border-bottom: 1px solid $almostWhiteGray;
    padding-bottom: 5px;
    margin: 40px 0 40px 0;
    font-size: 1.2em;

    i {
      display: inline-block;
      color: $mainAppColor;
      margin-right: 20px;
    }
  }

  .subheader {
    padding-bottom: 5px;
    margin: 40px 0 40px 0;
    font-size: 1.2em;
    font-weight: bolder;
  }

  .animation {
    display: block;
    width: 100%;

    margin: 40px 0 40px 0;
  }

  .paragraph {
    color: $appBlack;
    margin: 20px 0 20px 0;
    line-height: 1.6em;
    font-size: 1.2em;
  }
}
