@import '../../../../styles/_variables.scss';

.work-area {
  .page {
    width: 850px;
    height: 900px;

    margin: 10% auto;

    background-color: white;

    border: 1px solid $lightestGray;
  }
}
