$lightestGray: #d3d3d3;
$lighterGray: #b5b5b5;
$lightGray: #8c8c8c;
$almostWhiteGray: #f0f0f0;;

$textColor: #444444;
$highlightColor: #089bcc;
$mainAppColor: #6b95ff;
$dangerRed: #ff2d2d;

$appBlack: #494949;

$backgroundColor: #E5E5E5;

$editorMainColor: #12b5ea;

$mainFont: 'Open Sans', sans-serif;
