$lightestGray: #d3d3d3;
$lighterGray: #b5b5b5;
$lightGray: #8c8c8c;
$almostWhiteGray: #f0f0f0;
$darkGrey: #434c5e;

$textColor: #444444;
$highlightColor: #089bcc;
$mainAppColor: #6b95ff;
$mainAppColorDark: #0060ff;

$standOutColor: #ff5728;

$dangerRed: #ff2d2d;
$lightRed: #ff6981;
$lighterRed: #ffa19b;
$genericSuccess: #00d602;

$appBlack: #1e1e1e;

$backgroundColor: #E5E5E5;

$editorMainColor: #12b5ea;

$mainFont: 'Ubuntu', sans-serif;
$logoFont: 'Nova Mono', monospace;
