$lightestGray: #d3d3d3;
$lighterGray: #b5b5b5;
$lightGray: #8c8c8c;
$almostWhiteGray: #eaeaea;

$textColor: #444444;
$highlightColor: #6b95ff;
$mainAppColor: #6b95ff;
$dangerRed: #ff2d2d;

$appBlack: #494949;

$backgroundColor: #E5E5E5;

$editorDirectorySelected: #ffa3a3;
$editorFileSelected: #ff3232;
