<div class="col-xs-12 col-md-12 col-lg-12 file-explorer" #wrapperRef>
  <div
    *ngIf="showEditorActions"
    class="editor-actions-wrapper">
    <div class="editor-actions">
      <div
        (click)="selectAction('project')"
        class="action"
        [ngClass]="{'selected-action': componentState.selectedAction === 'project'}">

        <i class="select-project fas fa-clone"></i>
      </div>

      <div
        class="action github-disabled"
        matTooltip="Github integration - coming soon">
        <i class="fab fa-github"></i>
      </div>
    </div>
  </div>

  <div class="editor-dir-structure">
    <div class="title">
      <h1>Rebel Explorer</h1>
    </div>

    <div class="search">
      <i *ngIf="!searchFocused" class="fas fa-search"></i>
      <input
        [(ngModel)]="componentState.searchTerm"
        (keyup)="onSearchTerm()"
        (focus)="onSearchFocus()"
        (blur)="onSearchBlur()"
        type="text"/>
    </div>

    <div class="project-name">
      <h1>{{project.name}}</h1>
    </div>

    <cms-structure
      [searchSubject]="searchSubject"
      [project]="project">
    </cms-structure>
  </div>
</div>
