@import '../../../../../../../styles/variables';

.file-explorer {
  background-color: white;

  border-right: 1px solid $lightestGray;
  border-top: 1px solid $lightestGray;

  .editor-dir-structure {
    width: 269px;
    float: left;

    .title {
      padding: 15px;

      border-bottom: 1px solid white;
    }

    .title h1 {
      color: $textColor;
      font-size: 1.1em;
      font-family: $logoFont;

      margin: 0;
    }

    .project-name {
      width: 100%;
      float: left;
      background-color: white;

      padding: 15px;

      border-top: 1px solid $lightestGray;
      border-bottom: 1px solid $lightestGray;

      h1 {
        margin: 0;
        padding: 0;

        font-size: 14px;
        color: $textColor;
      }
    }

    .search {
      position: relative;

      border-top: 1px solid $lightestGray;

      input {
        display: block;
        width: 100%;
        border: none;
        box-shadow: none;
        padding: 15px;
      }

      i {
        position: absolute;
        bottom: 18px; left: 15px;
        font-size: 1.2em;
        color: $lighterGray;
      }
    }
  }

  .editor-actions-wrapper {
    width: 50px;
    background-color: white;
    float: left;

    border-right: 1px solid $lightestGray;
  }

  .editor-actions {
    width: 100%;
    float: left;
    margin-top: 20px;

    .action {
      font-size: 2em;
      color: $appBlack;

      width: 45px;
      float: left;

      &:hover {
        color: $editorMainColor;
        cursor: pointer;
      }

      i {
        margin-left: 6px;
      }

      border-left: 4px solid $appBlack;
    }

    .selected-action {
      border-left: 4px solid $editorMainColor;
    }

    .github-disabled {
      color: $lightestGray;
      border-left: 4px solid $lightestGray;

      &:hover {
        color: $lightestGray;
        cursor: not-allowed;
      }
    }
  }
}

.col-xs-12, .col-md-3, .col-lg-3 {
  padding: 0; margin: 0;
}
