<div class="col-xs-12 col-md-12 col-lg-12 file-explorer" id="_file-explorer" #wrapperRef>
  <div
    *ngIf="showEditorActions"
    class="editor-actions-wrapper">
    <div class="editor-actions">
      <div
        class="action github-disabled"
        matTooltip="Github integration - coming soon">
        <i class="fab fa-github"></i>
      </div>

      <div
        (click)="onHelp()"
        class="action">

        <i class="fas fa-question-circle"></i>
      </div>
    </div>
  </div>

  <div class="editor-dir-structure">
    <div class="title">
      <h1>Rebel Explorer</h1>
    </div>

<!--    <div class="search">
      <i *ngIf="!searchFocused" class="fas fa-search"></i>
      <input
        [(ngModel)]="searchTerm"
        (keyup)="onSearchTerm()"
        (focus)="onSearchFocus()"
        (blur)="onSearchBlur()"
        type="text"/>
    </div>-->

    <div class="project-name">
      <h1>{{project.name}}</h1>
    </div>

    <cms-structure
      [searchEmitter]="searchSubject"
      [project]="project">
    </cms-structure>
  </div>
</div>
