<div class="col-xs-12 col-md-3 col-lg-3 file-explorer" #wrapperRef>
  <div class="editor-actions-wrapper" #actionWrapperRef>
    <div class="editor-actions">
      <div
        (click)="selectAction('project')"
        class="action"
        [ngClass]="{'selected-action': componentState.selectedAction === 'project'}">

        <i class="select-project" [ngClass]="componentState.icons.selectProject"></i>
      </div>

      <div
        class="action"
        [ngClass]="{'selected-action': componentState.selectedAction === 'search'}"
        (click)="selectAction('search')">
        <i [ngClass]="componentState.icons.searchProject"></i>
      </div>
    </div>
  </div>

  <div class="editor-dir-structure">
    <div class="title">
      <h1>FILE EXPLORER</h1>
    </div>

    <div class="project-name">
      <h1>{{project.name}}</h1>
    </div>

    <cms-structure [project]="project"></cms-structure>
  </div>
</div>
