.cms-wrapper {
  width: 100%;

  -webkit-box-shadow: -6px 5px 14px -1px rgba(153,153,153,0.76);
  -moz-box-shadow: -6px 5px 14px -1px rgba(153,153,153,0.76);
  box-shadow: -6px 5px 14px -1px rgba(153,153,153,0.76);
}
