<div class="col-xs-12 col-md-12 col-lg-12">
  <nav class="menu col-xs-12 col-md-12 col-lg-12">
    <div class="menu-entry" [ngClass]="{'selected': type === 'knowledge-sources'}">
      <a class="entry" routerLink="./knowledge-sources/list">
        Knowledge sources
      </a>
    </div>

    <div class="menu-entry" [ngClass]="{'selected': type === 'code-projects'}">
      <a class="entry" routerLink="./code-projects">
        Code projects
      </a>
    </div>

    <div
      (click)="addKsDialog()"
      class="new-action">
      NEW
      <i class="icon fas fa-plus"></i>
    </div>
  </nav>
</div>
