@import '../../../../styles/variables';

.menu {
  float: left;

  background-color: white;

  .menu-entry {
    width: 100%;
    float: left;

    margin-top: 5px;

    position: relative;

    .action-wrapper {
      position: absolute;

      right: 0;

      i {
        display: block;
        padding: 15px 10px 19px 10px;

        background-color: $editorMainColor;

        color: white;
      }

      &:hover {
        cursor: pointer;
        color: $highlightColor;
      }
    }
  }

  .selected {
    background-color: $almostWhiteGray;
    border-left: 2px solid $editorMainColor;
  }

  .entry {
    display: block;
    width: 100%;
    float: left;

    position: relative;
    text-align: left;
    display: inline-block;
    font-size: 0.85em;
    color: $textColor;
    text-decoration: none;

    padding: 15px;

    &:hover {
      cursor: pointer;
      background-color: $almostWhiteGray;
    }
  }
}
