<div class="col-xs-1 col-sm-1 col-md-1 col-lg-1 menu-wrapper">
  <nav class="menu col-xs-12 col-md-12 col-lg-12">
    <div class="add-new-wrapper col-xs-12 col-sm-12 col-md-12 col-lg-12">
      <i (click)="onNew()" class="add-new fas fa-plus-circle"></i>
    </div>

    <div class="menu-entry col-xs-12 col-sm-12 col-md-12 col-lg-12"
         [ngClass]="{'selected-menu-entry': type === 'blogs'}"
         routerLink="./blogs/list">

      <div class="menu-icon-wrapper col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <i class="menu-icon fas fa-blog"></i>
      </div>

      <a
        class="entry col-xs-12 col-sm-12 col-lg-12 col-md-12">
        BLOGS
      </a>
    </div>

    <div class="menu-entry col-xs-12 col-sm-12 col-md-12 col-lg-12"
         [ngClass]="{'selected-menu-entry': type === 'code-projects'}"
         routerLink="./code-projects/list">
      <div class="menu-icon-wrapper col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <i class="menu-icon fas fa-project-diagram"></i>
      </div>

      <a
        class="entry col-xs-12 col-sm-12 col-lg-12 col-md-12">
        CODE PROJECTS
      </a>
    </div>

    <div class="menu-entry  col-xs-12 col-sm-12 col-md-12 col-lg-12"
         [ngClass]="{'selected-menu-entry': type === 'profile'}"
         routerLink="./user-section/profile">
      <div class="menu-icon-wrapper col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <i class="menu-icon fas fa-user-circle"></i>
      </div>

      <a
        class="entry col-xs-12 col-sm-12 col-lg-12 col-md-12">
        PROFILE
      </a>
    </div>

    <div class="menu-entry  col-xs-12 col-sm-12 col-md-12 col-lg-12"
         [ngClass]="{'selected-menu-entry': type === 'profile'}"
         routerLink="./user-section/subscriptions">
      <div class="menu-icon-wrapper col-xs-12 col-md-12 col-sm-12 col-lg-12">
        <i class="menu-icon fas fa-money-check-alt"></i>
      </div>

      <a
        class="entry col-xs-12 col-sm-12 col-lg-12 col-md-12">
        SUBSCRIPTIONS
      </a>
    </div>
  </nav>
</div>
