<div class="col-xs-12 col-md-12 col-lg-12">
  <nav class="menu col-xs-12 col-md-12 col-lg-12">
    <div class="menu-entry">
      <a
        class="entry"
        routerLink="./blogs/list"
        [ngClass]="{'entry': true, 'selected': type === 'blogs'}">
        Blogs
      </a>
    </div>

    <div class="menu-entry">
      <a
        class="entry"
        routerLink="./code-projects/list"
        [ngClass]="{'selected': type === 'code-projects'}">
        Code projects
      </a>
    </div>

    <div
      *ngIf="type"
      (click)="addKsDialog()"
      class="new-action">
      NEW
      <i class="icon fas fa-plus"></i>
    </div>
  </nav>
</div>
