@import '../../../../styles/variables';

.menu-wrapper {
  margin-top: 80px;
  float: left;
  border-radius: 5px;

  .add-new-wrapper {
    margin-bottom: 40px;

    .add-new {
      font-size: 2em;
      color: $mainAppColor;
      margin-left: 35%;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .menu-entry {
    float: right;
    padding: 15px;
    margin-bottom: 40px;

    .entry {
      display: block;
      color: $appBlack;
      text-decoration: none;
      text-align: center;
      font-size: 0.8em;

      &:hover {
        text-decoration: none;
      }
    }

    .menu-icon-wrapper {
      float: right;
      margin-bottom: 10px;

      .menu-icon {
        display: inline-block !important;
        color: $lightestGray;
        font-size: 1.2em;
        margin-left: 45%;
      }
    }

    &:hover .menu-icon {
      color: $mainAppColor !important;
    }

    &:hover {
      cursor: pointer;
    }
  }

  .selected-menu-entry {
    .menu-icon {
      color: $mainAppColor !important;
    }
  }
}

@media all and (max-width: 670px) {
  .add-new-wrapper {
    .add-new {
      margin-left: 35% !important;
    }
  }

  .menu-icon-wrapper {
    .menu-icon {
      margin-left: 35% !important;
    }
  }
}

@media all and (max-width: 500px) {
  .add-new-wrapper {
    .add-new {
      margin-left: 30% !important;
    }
  }

  .menu-icon-wrapper {
    .menu-icon {
      margin-left: 35% !important;
    }
  }
}

@media all and (max-width: 420px) {
  .add-new-wrapper {
    .add-new {
      margin-left: 30% !important;
    }
  }

  .menu-icon-wrapper {
    .menu-icon {
      margin-left: 30% !important;
    }
  }
}

@media all and (max-width: 460px) {
  .entry {
    display: none !important;
  }
}
