@import '../../../../../styles/variables';

.text-editor-wrapper {
  background-color: $appBlack;
  width: 900px;

  .no-tabs-message {
    font-size: 2em;

    color: $lightGray;

    width: 100%;
    padding: 20px;
    text-align: center;

    background-color: $appBlack;
  }
}
