@import '../../../../../styles/variables';

.text-editor-wrapper {
  background-color: $appBlack;

  .no-tabs-message {
    font-size: 2em;

    color: $lightGray;

    width: 100%;
    padding: 20px;
    text-align: center;

    margin-top: 100px;

    background-color: $appBlack;
  }
}
