<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="fas fa-folder-plus icon"></i>
    <p>Add a new directory</p>
  </div>

  <div class="dialog-content form-group">
      <input [(ngModel)]="model.name"  placeholder="Name" class="form-input form-control">
  </div>

  <div class="dialog-actions">
    <button class="btn create" cdkFocusInitial (click)="createDirectory()">Create</button>
  </div>
</div>
