<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <i class="fas fa-link icon"></i>
    <p>Add Youtube link</p>
  </div>

  <div class="dialog-content form-group">
    <input cdkFocusInitial (keyup.enter)="addLink()" [(ngModel)]="model.name"  placeholder="Youtube url" class="form-input form-control">
  </div>

  <div class="dialog-actions">
    <button class="btn create" cdkFocusInitial (click)="addLink()">Add</button>
  </div>
</div>
