<div class="col-xs-12 col-lg-6 col-md-12 presentation-create selection-container">
  <h1>Create a presentation</h1>
  <form>
    <div class="form">
      <div class="field-wrapper">
        <mat-form-field>
          <input
            [(ngModel)]="model.name"
            name="name"
            placeholder="Name"
            required
            matInput/>
        </mat-form-field>
      </div>

      <div class="field-wrapper">
        <mat-form-field>
          <input
            [(ngModel)]="model.shortDescription"
            name="shortDescription"
            placeholder="Short description"
            required
            matInput/>
        </mat-form-field>
      </div>

      <div class="field-wrapper">
        <mat-form-field>
          <input
            [(ngModel)]="model.longDescription"
            name="longDescription"
            placeholder="Long description"
            matInput/>
        </mat-form-field>
      </div>

      <div class="button">
        <button
          [disabled]=""
          (click)="onSubmit()"
          mat-raised-button>
          Create
        </button>
      </div>
    </div>
  </form>
</div>
