@import '../../../../styles/variables';

.menu {
  float: left;
  border-right: 1px solid $lightestGray;

  .menu-entry {
    width: 100%;
    float: left;
  }

  .selected {
    background-color: $lightestGray;
    border-left: 2px solid $editorMainColor;
  }

  .entry {
    display: block;
    width: 80%;
    float: left;

    position: relative;
    text-align: right;
    display: inline-block;
    font-size: 0.85em;
    color: $textColor;
    text-underline: none;

    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
