@import '../../../../styles/variables';

.menu {
  float: left;
  border-right: 1px solid $lightestGray;

  .menu-entry {
    width: 100%;
    float: left;

    position: relative;

    .newIcon {
      position: absolute;
      color: $editorMainColor;
      top: 16px; right: 10px;

      &:hover {
        cursor: pointer;
        color: $highlightColor;
      }
    }
  }

  .selected {
    background-color: $lightestGray;
    border-left: 2px solid $editorMainColor;
  }

  .entry {
    display: block;
    width: 100%;
    float: left;

    position: relative;
    text-align: left;
    display: inline-block;
    font-size: 0.85em;
    color: $textColor;
    text-underline: none;

    padding: 15px;

    &:hover {
      cursor: pointer;
    }
  }
}
