@import '../../../../styles/variables';

.informational-actions {
  .action-button {
    float: right;
    background-color: white;
    color: $textColor;
    border: none;

    margin-top: 10px;
    padding: 0;

    font-size: 0.9em;
    font-family: $mainFont;

    border-radius: 0;

    .expand-icon {
      display: inline-block;
      margin-right: 8px;
      color: $appBlack;

      font-size: 1.1em;
    }

    &:hover {
      border-bottom: 1px solid $appBlack;
    }

    &:focus {
      background-color: white;
    }
  }
}
