@import '../../../../../styles/variables';

.item {
    margin: 20px;
    border:1px solid $lightestGray;
    color: $textColor;

    .name {
        padding: 10px;
        border-bottom: 1px solid $lightestGray;
    }

    .actions {
        padding: 10px;
    }

    .item-button {
        color: white;
        background-color: $editorMainColor;
        float: right;
        margin-left: 5px;
        border-radius: 0px;

        &:hover {
            background-color: $highlightColor;
        }
    }
}
