<div
  (mouseenter)="componentHovered()"
  (mouseleave)="componentUnHovered()"
  class="text-block-wrapper col-lg-12 col-md-12 col-xs-12">

  <div class="block-metadata col-xs-12 col-lg-12 col-md-12">
    <div class="block-actions col-lg-12 col-md-12 col-xs-12">
      <div
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="remove()" class="icon remove-icon" [ngClass]="icons.remove"></i>
        </div>
      </div>

      <div
        matTooltip="Add internal name"
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="addInternalName()" class="icon fas fa-file-signature"></i>
        </div>
      </div>

      <div
        matTooltip="Add internal comment"
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div
          *ngIf="componentState.comment"
          class="icon-group">
          <i
            (click)="addComment()"
            class="icon fas fa-comment">
          </i>
        </div>

        <div
          *ngIf="!componentState.comment"
          class="icon-group">
          <i
            (click)="addComment()"
            class="icon far fa-comment">
          </i>
        </div>

      </div>

      <div
        *ngIf="!componentState.expanded"
        matTooltip="Expand block"
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="onExpandBlock()" class="icon fas fa-expand"></i>
        </div>
      </div>

      <div
        *ngIf="componentState.expanded"
        matTooltip="Compress block"
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="onCompressBlock()" class="icon fas fa-compress"></i>
        </div>
      </div>
    </div>
  </div>

  <div
    class="col-lg-12 col-md-12 col-xs-12 text-editor-wrapper"
    (click)="onExpandBlock()"
    [ngClass]="{'editor-not-created': !componentState.expanded}">

    <p class="editor-not-created-text col-lg-12 col-md-12 col-xs-12" *ngIf="!componentState.expanded">
      Text block - <span>{{componentState.internalName}}</span>
    </p>

    <ckeditor
      #editorComponent
      *ngIf="componentState.expanded"
      class="concrete-editor"
      [editor]="editor"
      (change)="onChange()"
      [config]="editorConfig"
      [(ngModel)]="component.text"
      (ready)="onEditorReady($event)"
      required
      data="componentData.value.text"
      name="text">
    </ckeditor>
  </div>

</div>
