@import '../../../../../styles/variables';

.playground-wrapper {
  float: left;
  overflow:hidden;

  position: absolute;

  bottom: 0; right: 0;

  height: 40px;

  -webkit-box-shadow: 0px -11px 23px -3px rgba(204,204,204,1);
  -moz-box-shadow: 0px -11px 23px -3px rgba(204,204,204,1);
  box-shadow: 0px -11px 23px -3px rgba(204,204,204,1);

  .closed-playground {
    .playground-icon {
      display: inline-block;
      float: left;

      margin: 0; padding: 0;

      font-weight: bolder;
      color: $appBlack;

      font-size: 1.4em;

      margin: 8px 0 0 5px;
    }

    .expand-icon {
      display: block;
      float: right;
      color: $appBlack;

      font-size: 1.3em;

      margin-right: 10px;
      margin-top: 10px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
