@import '../../../../../styles/variables';

.playground-wrapper {
  float: left;
  overflow:hidden;

  position: absolute;

  bottom: 0; right: 0;

  height: 40px;

  border-top: 1px solid $lightestGray;

  .closed-playground {
    .playground-icon {
      display: inline-block;
      float: left;

      margin: 0; padding: 0;

      font-weight: bolder;
      color: $appBlack;

      font-size: 1.1em;

      margin: 10px 0 0 5px;
    }

    .expand-icon {
      display: block;
      float: right;
      color: $appBlack;

      font-size: 1.3em;

      margin-right: 10px;
      margin-top: 8px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
