@import '../../../../../../styles/variables';

.result-area {
  position: absolute;
  top: 200px;
  border-top: 1px solid $lightestGray;

  overflow: auto;

  padding: 30px;

  height: 200px;

  background-color: white;

  -webkit-box-shadow: -3px -8px 19px -1px rgba(232,232,232,1);
  -moz-box-shadow: -3px -8px 19px -1px rgba(232,232,232,1);
  box-shadow: -3px -8px 19px -1px rgba(232,232,232,1);

  .minimize {
    color: $lightestGray;
    position: absolute;

    top: 5px; left: 5px;

    color: $appBlack;

    &:hover {
      color: $appBlack;
      cursor: pointer;
    }
  }
}
