@import '../../../../../../styles/variables';

.result-area {
  position: absolute;
  top: 200px;
  border-top: 1px solid white;

  overflow: auto;

  padding: 30px;

  height: 200px;

  background-color: $appBlack;

  .minimize {
    color: white;
    position: absolute;

    top: 5px; left: 5px;

    color: white;

    &:hover {
      color: $mainAppColor;
      cursor: pointer;
    }
  }
}
