<div
  class="col-xs-12 col-md-3 col-lg-3 directory"
  [id]="directory.id">
  <div
    class="dir-name"
    (drop)="onDrop()"
    (dragover)="onDragOver($event)"
    (dragenter)="onDragEnter()"
    (dragexit)="onDragExit()"
    [ngClass]="{'dragged-over': draggedOver}"
    [ngStyle]="dirStyles">

    <i
      class="icon fas fa-folder-open">
    </i>

    <h1
      class="text">{{directory.name}}</h1>

    <div class="root-action-set" *ngIf="directory.isRoot">
      <div class="action" *ngIf="copyExpected">
        <i (click)="onPaste()" class="fas fa-paste"></i>
      </div>

      <div class="action">
        <i (click)="newDirectory()" class="fas fa-folder-plus"></i>
      </div>

      <div class="action">
        <i (click)="newFile()" class="fas fa-file-code"></i>
      </div>
    </div>
  </div>

  <div *ngFor="let item of structure">
    <cms-directory
      *ngIf="item.type === 'directory'"
      [breadcrumbs]="rootBreadcrumbs"
      [parentEvent]="parentCommunicator"
      [fileCutFinishedEvent]="fileCutFinishedEvent"
      [directoryCutFinishedEvent]="directoryCutFinishedEvent"
      [project]="project"
      [extension]="extension"
      [copyBufferSubject]="copyBufferSubject"
      [copyUnbufferSubject]="copyUnbufferSubject"
      [directory]="item">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>
    </cms-directory>

    <cms-file
      *ngIf="item.type === 'file'"
      [parentEvent]="parentCommunicator"
      [breadcrumbs]="rootBreadcrumbs"
      [project]="project"
      [basePadding]="expandedPadding"
      [file]="item"
      [copyBufferSubject]="copyBufferSubject"
      [extension]="extension">

      <div class="drag-preview" *cdkDragPreview>
        Drop when ready
      </div>

    </cms-file>
  </div>
</div>
