@import '../../../../../styles/variables';

.code-block-wrapper {
  position: relative;

  padding: 20px;

  .block-actions {
    display: block;
    float: left;

    margin-top: 5px;
  }

  .readonly-action {
    float: left;
  }

  .block-action {
    color: $lightestGray;
    font-size: 0.8em;

    float: right;
    position: relative;

    .icon {
      float: right;
      font-size: 1.8em;

      &:hover {
        cursor: pointer;
        color: $textColor;
      }
    }

    .readonly-icon {
      margin-left: 10px;
      font-size: 1.8em;
    }

    .remove-icon {
      &:hover {
        color: $dangerRed;
      }
    }
  }

  .editor-wrapper {
    border-radius: 5px;
    border: 1px dashed $lightestGray;

    margin-top: 5px;

    float: left;

    padding: 10px;
  }

  .code-block {
    position: relative;

    border-radius: 5px;
    border: 1px dashed $lightestGray;

    .test-run-button-wrapper {
      width: 110px;
      position: absolute;

      bottom: 10px; right: 10px;

      .test-run-button {
        float: right;
      }

      i {
        display: block;
        float: left;
        margin-top: 9px;
        color: $appBlack;
      }
    }
  }
}
