<div
  (mouseenter)="componentHovered()"
  (mouseleave)="componentUnHovered()"
  (click)="componentTouched()"
  class="code-block-wrapper col-lg-12 col-md-12 col-xs-12">

  <div class="block-metadata col-xs-12 col-lg-12 col-md-12">
    <div class="block-actions col-lg-12 col-md-12 col-xs-12">
      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="remove()" class="icon remove-icon fas fa-trash-alt"></i>
        </div>
      </div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="onReadonlyChange()"
          [ngClass]="{'fa-eye': readonly === false, 'fa-eye-slash': readonly}"
          class="fas icon readonly-icon"
          [matTooltip]="(readonly) ? 'Mark as editable' : 'Mark as readonly'">
        </i>
      </div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="onGithubGist()"
          class="icon fab fa-github"
          matTooltip="Embed Github gist">
        </i>
      </div>

      <div
        *ngIf="isGist"
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="onRefresh()"
          class="icon fas fa-sync-alt"
          matTooltip="Refresh gist">
        </i>
      </div>

      <div
        *ngIf="isCode"
        (click)="onSelectEnvironment()"
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          *ngIf="codeProjectImported"
          class="icon fas fa-bug action-disabled"
          matTooltip="Environment loaded from code project">
        </i>

        <i
          *ngIf="!codeProjectImported"
          class="icon fas fa-bug"
          matTooltip="Select environment">
        </i>
      </div>

      <div
        *ngIf="isCode"
        (click)="onImportCodeProject()"
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          class="icon fas fa-laptop-code"
          matTooltip="Import code project">
        </i>
      </div>
    </div>
  </div>

  <div class="right-blog-metadata">
    <div
      *ngIf="codeProjectImported"
      (click)="onRemoveCodeProject()"
      [style.visibility]="(hovered) ? 'visible' : 'hidden'"
      class="right-block-action">

      <i
        class="icon fas fa-times"
        matTooltip="Remove code project">
      </i>
    </div>

    <div
      *ngIf="isGist"
      (click)="onClearGist()"
      [style.visibility]="(hovered) ? 'visible' : 'hidden'"
      class="right-block-action">

      <i
        class="icon fas fa-times"
        matTooltip="Clear gist (back to code)">
      </i>
    </div>

    <div
      *ngIf="codeProjectImported"
      [style.visibility]="(hovered) ? 'visible' : 'hidden'"
      class="right-block-action">

      <i
        [routerLink]="'/cms/code-editor/' + codeProject.shortId"
        class="icon directory-structure-icon fas fa-code"
        matTooltip="Open code editor">
      </i>
    </div>

  </div>

  <div
    class="code-block col-lg-12 col-md-12 col-xs-12 editor-wrapper">

    <ngx-gist *ngIf="isGist" [gistId]="gistData.username + '/' + gistData.gistId"></ngx-gist>

    <ngx-monaco-editor
      *ngIf="isCode && editorOptions"
      [options]="editorOptions"
      [(ngModel)]="code"
      (keyup)="onCodeChange()">
    </ngx-monaco-editor>

    <div
      *ngIf="isCode"
      class="test-run-button-wrapper">

      <i *ngIf="isCodeRunning" class="fas fa-atom fa-spin"></i>

      <button
        [disabled]="isCodeRunning || !emulator || !code"
        (click)="onRunCode()"
        class="btn btn-success test-run-button">
        Test run
      </button>
    </div>

    <div
      *ngIf="emulator && isCode"
      class="emulator-info-wrapper">

      <p class="text">{{emulator.text}}<i class="fas fa-bug"></i></p>
    </div>

    <div
      *ngIf="!emulator && isCode"
      (click)="onSelectEnvironment()"
      class="emulator-info-wrapper">

      <p class="text missing">Dev environment missing<i class="fas fa-bug"></i></p>
    </div>
  </div>

  <cms-block-errors
    *ngIf="blockErrors"
    [errors]="blockErrors">
  </cms-block-errors>

  <cms-block-info
    [emulator]="emulator"
    [readOnly]="readonly"
    [isGist]="isGist"
    [isCode]="isCode"
    [codeProject]="codeProject">
  </cms-block-info>

  <cms-test-run-result
    *ngIf="hasTestRunWindow"
    (testRunCloseEvent)="onTestRunWindowClose()"
    [result]="testRunResult">
  </cms-test-run-result>
</div>
