<div
  (mouseenter)="componentHovered()"
  (mouseleave)="componentUnHovered()"
  (click)="componentTouched()"
  class="multimedia-block-wrapper col-lg-12 col-md-12 col-xs-12">

  <div class="block-metadata col-xs-12 col-lg-12 col-md-12">
    <div class="block-actions col-lg-12 col-md-12 col-xs-12">
      <div class="error col-xs-12 col-md-12 col-lg-12" *ngIf="uploadError && uploadError === 15">No file selected for upload.</div>
      <div class="error col-xs-12 col-md-12 col-lg-12" *ngIf="uploadError && uploadError === 16">Mime type could not be determined.</div>
      <div class="error col-xs-12 col-md-12 col-lg-12" *ngIf="uploadError && uploadError === 17">Invalid mime type. Supported mime types are jpg, jpeg, png and svg.</div>
      <div class="error col-xs-12 col-md-12 col-lg-12" *ngIf="uploadError && uploadError === 11">Internal error. Image could not be uploaded. We are very sorry about this and we are looking into it.</div>
      <div class="error col-xs-12 col-md-12 col-lg-12" *ngIf="uploadError && uploadError === 11">For some reason, the image could not be deleted. Please, refresh your browser and try again</div>
      <div class="error col-xs12 col-md-12 col-lg-12" *ngIf="imageTooBig">The uploaded image is too large. Permitted file size is 10MB.</div>
      <div class="error col-xs12 col-md-12 col-lg-12" *ngIf="imageReadFailed">Image read failed on the browser. Please, refresh the page and try again.</div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="remove()" class="icon remove-icon fas fa-trash-alt"></i>
        </div>
      </div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

          <div
            class="fas fa-upload icon upload-button"></div>
          <input
            type="file"
            class="upload-file-input"
            (change)="fileChange($event.target.files)"
            [matTooltip]="'Upload a file'"/>
      </div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="embedUnsplashLink()"
          class="icon fas fa-strikethrough"
          matTooltip="Embed an Unsplash image">
        </i>
      </div>

      <div
        [style.visibility]="(hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="addYoutubeLink()"
          class="icon fab fa-youtube"
          matTooltip="Embed a Youtube video">
        </i>
      </div>
    </div>
  </div>

  <div class="right-blog-metadata">
    <div
      *ngIf="contentUploaded"
      (click)="onRemoveMultimedia()"
      [style.visibility]="(hovered) ? 'visible' : 'hidden'"
      class="right-block-action">

      <i
        class="icon fas fa-times"
        matTooltip="Remove multimedia">
      </i>
    </div>

  </div>

  <div class="multimedia-block col-lg-12 col-md-12 col-xs-12 editor-wrapper">
    <div
      *ngIf="!fileInfo && !video && !unsplash"
      class="no-multimedia">
      No images or youtube videos uploaded
    </div>

    <div
      *ngIf="fileInfo"
      class="image-wrapper">
      <img
        class="col-xs-12 col-md-12 col-lg-12"
        [src]="fileInfo.staticImagePath" />
    </div>

    <div
      *ngIf="unsplash"
      class="image-wrapper">
      <img
        class="col-xs-12 col-md-12 col-lg-12"
        [src]="unsplash.default" />
    </div>

    <div
      *ngIf="video"
      class="image-wrapper">
      <iframe width="560" height="315" src="" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
