<div
  (mouseenter)="componentHovered()"
  (mouseleave)="componentUnHovered()"
  class="multimedia-block-wrapper col-lg-12 col-md-12 col-xs-12">

  <div class="block-metadata col-xs-12 col-lg-12 col-md-12">
    <div class="block-actions col-lg-12 col-md-12 col-xs-12">
      <div
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <div class="icon-group">
          <i (click)="remove()" class="icon remove-icon fas fa-trash-alt"></i>
        </div>
      </div>

      <div
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

          <div
            class="fas fa-upload icon upload-button"></div>
          <input
            type="file"
            class="upload-file-input"
            (change)="fileChange($event)"
            [matTooltip]="'Upload a file'"/>
      </div>

      <div
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="embedUnsplashLink()"
          class="icon fas fa-strikethrough"
          matTooltip="Embed an Unsplash image">
        </i>
      </div>

      <div
        [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
        class="block-action col-lg-1 col-md-1 col-xs-1">

        <i
          (click)="addYoutubeLink()"
          class="icon fab fa-youtube"
          matTooltip="Embed a Youtube video">
        </i>
      </div>
    </div>
  </div>

  <div class="right-blog-metadata">
    <div
      *ngIf="componentState.contentUploaded"
      (click)="onRemoveMultimedia()"
      [style.visibility]="(componentState.hovered) ? 'visible' : 'hidden'"
      class="right-block-action">

      <i
        class="icon fas fa-times"
        matTooltip="Remove multimedia">
      </i>
    </div>

  </div>

  <div class="multimedia-block col-lg-12 col-md-12 col-xs-12 editor-wrapper">
    <div
      *ngIf="!componentState.filePath && !componentState.video && !componentState.unsplash"
      class="no-multimedia">
      No images or youtube videos uploaded
    </div>

    <div
      *ngIf="componentState.filePath"
      class="image-wrapper">
      <img
        class="col-xs-12 col-md-12 col-lg-12"
        [src]="componentState.filePath" />
    </div>

    <div
      *ngIf="componentState.unsplash"
      class="image-wrapper">
      <img
        class="col-xs-12 col-md-12 col-lg-12"
        [src]="componentState.unsplash" />
    </div>

    <div
      *ngIf="componentState.video"
      class="image-wrapper">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/P7LXLI6TRLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

</div>
