<div
  class="col-xs-12 col-md-12 col-lg-12 shared-item item">

  <i
    (click)="onRemove($event)"
    class="remove-icon fas fa-trash-alt"></i>

  <p
    class="title">{{componentState.realTitle}}
  </p>

  <p
    class="environment">
    {{formatEnvironment()}}
  </p>

  <div class="createdAt">
    {{formattedDate()}}
  </div>

  <div class="actions col-xs-12 col-md-12 col-lg-12">
    <a
      [routerLink]="'/cms/code-editor/' + item.shortId"
      class="item-button">
      Open
    </a>

    <a
      class="item-button"
      (click)="onManage($event)">
      Manage
    </a>

    <a
      *ngIf="includeEdit"
      class="item-button"
      (click)="onEdit($event)">
      Edit
    </a>
  </div>

</div>
