@import '../../../../../styles/variables';

.text-block-wrapper {
  margin: 25px 0 25px 0;

  .input-field {
    margin-right: 1%;
    margin-bottom: 5%;

    font-size: 0.9em;
  }

  .create-button {
    button {
      float: right;
    }
  }
}
