@import '../../../../../styles/variables';

.text-block-update {
  position: absolute;
  top: -45px; right: 0;

  background-color: $lightestGray;
  border-radius: 5px;

  .icon {
    padding: 5px 10px 5px 10px;
    display: inline-block;
    font-size: 1.5em;

    &:hover {
      cursor: pointer;
      color: white;
      background-color: $highlightColor;
    }

    &:first-child {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
    }

    &:last-child {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }

  .remove-icon {
    &:hover {
      background-color: $dangerRed;
    }
  }
}
