@import '../../../../styles/variables';

.profile-wrapper {
  margin-bottom: 40px;
  .profile {
    float: none;
    margin: 0 auto;
  }
}

.item-wrapper {
  .item {
    margin-top: 40px;
    position: relative;
    border-left: 4px solid $mainAppColor;
  }

  .first-item {
    padding-left: 30px;
  }

  .avatar {
    display: block;
    float: left;
    width: 50px;
    height: 50px;
  }

  .upload-btn {
    width: 200px;
    float: right;
    position: relative;
    border: 1px solid $lightestGray;
    color: $appBlack;

    border-radius: 2px;
    font-size: 1.1em;

    margin-right: 40%;
    margin-top: 6px;
  }

  .upload-text {
    width: 100%;
    text-align: center;
    margin-top: 8px;
    font-size: 0.85em;
  }

  .upload-file-input {
    display: block;
    width: 200px;
    height: 60px;
    float: right;
    font-size: 100px;
    position: absolute;
    right: 0;
    top: -4px;
    opacity: 0;

    border: 1px solid red;

    &:hover {
      cursor: pointer;
    }
  }

  .button-wrapper {
    margin-top: 20px;
  }

  .action-button {
    background-color: white;
    font-family: $mainFont;
    padding: 5px;
    text-align: center;
    width: 100px;
    float: right;
    color: $mainAppColor;
    border-radius: 0;
  }

  .save-file {
    border: 1px solid $mainAppColor;
    color: $appBlack;
    margin: 0 40% 0 0;
    border-radius: 2px;
    font-size: 1em;

    transition: background-color 0.5s, color 0.5s;
    -webkit-transition: background-color 0.5s, color 0.5s;
    -moz-transition: background-color 0.5s, color 0.5s;
    -o-transition: background-color 0.5s, color 0.5s;

    &:hover {
      background-color: $mainAppColor;
      color: white;
    }
  }

  .clear-file {
    border: none;
    font-size: 1em;

    &:hover {
      box-shadow: none;
    }
  }

  .input-wrapper {
    margin: 0 0 0 30px;
    color: $appBlack;

    .info {
      color: $mainAppColor;
      font-size: 0.8em;
    }
  }

  .text-input {
    margin: 10px auto;
  }
}

.avatar .error {
  margin-top: 40px;
}

.submit-button {
  width: 100px;
  display: block;
  float: right;

  padding: 10px;

  margin-right: 29.90%;
  margin-top: 40px;
}
