<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 code-projects">

  <div
    class="col-xs-12 col-md-12 col-lg-12 cp-search-wrapper">
    <cms-search
      (onSearchTermEvent)="onSearchTerm($event)"></cms-search>

    <cms-listing-filter
      [filters]="filters"
      (stateChangedEvent)="onFilterChange($event)">
    </cms-listing-filter>
  </div>

  <div class="col-xs-12 col-md-12 col-lg-12 cp-list">
    <div
      *ngFor="let item of items"
      class="col-xs-10 col-md-5 col-lg-5 cp-item">
      <cms-cp-item
        (itemDeleted)="onItemDeleted(item)"
        [item]="item">
      </cms-cp-item>
    </div>
  </div>

  <div
    *ngIf="items.length === 0"
    class="col-xs-12 col-md-12 col-lg-12 no-items">
    No code projects
  </div>

  <div
    *ngIf="items.length >= pagination.size"
    class="col-xs-12 col-md-12 col-lg-12 more-button-wrapper">
    <button
      *ngIf="paginationPossible"
      (click)="onMoreItems()"
      class="btn more-button">More</button>

    <div
      *ngIf="!paginationPossible"
      class="no-more-items"
    >No more code projects</div>
  </div>
</div>
