<div class="col-xs-12 col-md-12 col-lg-12 work-area">
  <cms-menu></cms-menu>

  <div cdkDropList class="container row page" (cdkDropListDropped)="drop($event)">
    <div
      *ngFor="let item of components | keyvalue; let i = index; trackBy: trackByFn"
      class="col-xs-12 col-lg-12 col-md-12 component-wrapper"
      cdkDrag>

      <div class="drag-preview col-xs-7 col-lg-5 col-md-5" *cdkDragPreview>
        <i class="fas fa-arrows-alt icon"></i>
        <p class="text col-xs-10 col-lg-10 col-md-10">Drop when you are ready</p>
      </div>

      <div class="dragAndDropHandle" cdkDragHandle>
        <i [ngClass]="icons.list"></i>
      </div>

      <cms-view-text-block
        (click)="onTextBlockFocus(i)"
        *ngIf="item.value.componentType == 'text_block'"
        [focusTrackerEvent]="focusTrackerEvent"
        [index]="i"
        [componentData]="item.value">
      </cms-view-text-block>

      <cms-code-block
        *ngIf="item.value.componentType == 'code_block'"
        [index]="i"
        [componentData]="item.value">
      </cms-code-block>
    </div>
  </div>
</div>
