<div class="col-xs-12 col-md-12 col-lg-12 work-area" #workAreaRef>
  <cms-menu (blockAddedEvent)="onBlockAdded($event)"></cms-menu>

  <div
    cdkDropList
    class="container row page col-xs-10 col-lg-9 col-md-9"
    (cdkDropListDropped)="drop($event)">

    <div
      *ngFor="let item of components"
      class="col-xs-12 col-lg-12 col-md-12 component-wrapper"
      (cdkDragDropped)="onDropped(item)"
      cdkDrag>

      <div class="drag-preview col-xs-7 col-lg-5 col-md-5" *cdkDragPreview>
        <i class="fas fa-arrows-alt icon"></i>
        <p class="text col-xs-10 col-lg-10 col-md-10">Drop when you are ready</p>
      </div>

      <div class="dragAndDropHandle" cdkDragHandle>
        <i [ngClass]="icons.list"></i>
      </div>

      <cms-view-text-block
        *ngIf="item.blockType == 'text_block'"
        [component]="item">
      </cms-view-text-block>

      <cms-code-block
        *ngIf="item.blockType == 'code_block'"
        [component]="item"
        [componentDropped]="droppedSubject">
      </cms-code-block>
    </div>
  </div>
</div>
