<div class="col-xs-12 col-md-12 col-lg-12 subscription">
  <h1
    [ngClass]="{'request-in-flight': requestInFlight}"
    (click)="onSelectEntry()">
    {{subscriptionMetadata.title}} <span [ngClass]="['title-highlight', statusClass]">/ {{statusText}}</span>
    <i class="chevron fas" [ngClass]="{'fa-chevron-left': !this.selected, 'fa-chevron-down': this.selected}"></i>
  </h1>

  <div *ngIf="selected && subscription" class="content col-xs-12 col-md-12 col-lg-12">
    <div class="content-item col-xs-12 col-lg-12 col-md-12">
      <p class="item col-xs-6 col-md-6 col-lg-6">Cost:</p>
      <p class="item duration col-xs-5 col-md-5 col-lg-5">{{parseCost(subscription.amount)}} {{parseCurrency(subscription.currency)}} / paid {{parseDuration(subscription.interval)}}</p>
    </div>

    <div class="content-item col-xs-12 col-lg-12 col-md-12">
      <p class="item col-xs-6 col-md-6 col-lg-6">Subscribed on:</p>
      <p class="item col-xs-5 col-md-5 col-lg-5">{{subscription.createdAt}}</p>
    </div>

    <div class="content-item col-xs-12 col-lg-12 col-md-12">
      <p class="item col-xs-6 col-md-6 col-lg-6">Current charging period start:</p>
      <p class="item col-xs-5 col-md-5 col-lg-5">{{subscription.currentPeriodStart}}</p>
    </div>

    <div class="content-item col-xs-12 col-lg-12 col-md-12">
      <p class="item col-xs-6 col-md-6 col-lg-6">Current charging period end:</p>
      <p class="item col-xs-5 col-md-5 col-lg-5">{{subscription.currentPeriodEnd}}</p>
    </div>

    <div *ngIf="status === 'active'" class="unsubscribe col-xs-12 col-md-12 col-lg-12">
      <button [ngClass]="{'button': true, 'button-disabled': requestInFlight}" (click)="onUnsubscribe()">Unsubscribe</button>
    </div>

    <div *ngIf="status === 'pending_unsubscription'" class="unsubscribe col-xs-12 col-md-12 col-lg-12">
      <button [ngClass]="{'button': true, 'button-disabled': requestInFlight, 'reactivate-button': true}" (click)="onReactivate()">Reactivate</button>
    </div>
  </div>
</div>
