<div class="menu-wrapper">
  <cms-menu-button
    [isSingleIcon]="true"
    (click)="expandMenu()"
    [icon]="icons.menu">
  </cms-menu-button>

  <div
    class="concrete-menu transition-animation"
    [ngClass]="{'move-right': menuExpanded === true, 'move-left': menuExpanded === false}">

      <div class="expanded-menu">

        <cms-menu-button
          (mouseup)="appendMainHeader()"
          [icon]="icons.header1"
          [iconText]="1"
          [title]="'Add main header block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendSubheader()"
          [icon]="icons.header1"
          [iconText]="2"
          [title]="'Add subheader block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendTextBlock()"
          [icon]="icons.paragraph"
          [title]="'Add text block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendMultimediaBlock()"
          [icon]="icons.multimedia"
          [title]="'Add multimedia'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendCodeBlock()"
          [icon]="icons.code"
          [title]="'Add code block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendQuoteBlock()"
          [icon]="icons.quote"
          [title]="'Add quote block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="viewHelp()"
          [icon]="icons.help"
          [title]="'Help'">
        </cms-menu-button>

      </div>

  </div>
</div>
