@import '../../../../styles/variables';

.menu-wrapper {
  position: fixed;

  z-index: 100;
  top: 100px;
  left: 0;

  .concrete-menu {
    position: absolute;

    top: 60px;
    z-index: 100;

    background-color: white;
  }

  .transition-animation {
    transition: left 0.5s, box-shadow 0.5s, border-right 0.5s;
    -webkit-transition: left 0.5s, box-shadow 0.5s, border-right 0.5s;
    -moz-transition: left 0.5s, box-shadow 0.5s, border-right 0.5s;
    -o-transition: left 0.5s, box-shadow 0.5s, border-right 0.5s;
  }

  .move-left {
    left: -190px;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    border-right: 0 solid $mainAppColor;
  }

  .move-right {
    left: 0;
    -webkit-box-shadow: 7px 6px 5px -3px rgba(224,224,224,1);
    -moz-box-shadow: 7px 6px 5px -3px rgba(224,224,224,1);
    box-shadow: 7px 6px 5px -3px rgba(224,224,224,1);

    border-right: 4px solid $mainAppColor;
  }

  .horizontal-bar {
    border: 1px solid $lightestGray;
  }

  .expanded-menu {
    width: 250px;
    overflow: hidden;
  }

  .saved-text {
    width: 100%;
    position: absolute;
    bottom: 0; right: 0;
  }
}
