@import '../../../../styles/variables';

.menu-wrapper {
  position: absolute;

  z-index: 1;
  top: 10px;
  left: 0;

  .concrete-menu {
    position: absolute;

    top: 60px;
    z-index: 2;

    background-color: white;

    -webkit-box-shadow: 7px 7px 17px -1px rgba(189,189,189,1);
    -moz-box-shadow: 7px 7px 17px -1px rgba(189,189,189,1);
    box-shadow: 7px 7px 17px -1px rgba(189,189,189,1);

    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .transition-animation {
    transition: left 0.5s;
  }

  .move-left {
    left: -240px;
  }

  .move-right {
    left: 0;
  }

  .horizontal-bar {
    border: 1px solid $lightestGray;
  }

  .expanded-menu {
    width: 300px;
    overflow: hidden;
  }
}
