<div class="menu-wrapper">
  <cms-menu-button [isSingleIcon]="true" (click)="expandMenu()" [icon]="icons.menu"></cms-menu-button>

  <div
    class="concrete-menu transition-animation"
    [ngClass]="{'move-right': menuExpanded == true, 'move-left': menuExpanded == false}">
      <div class="expanded-menu">

        <cms-menu-button
          (mouseup)="appendTextBlock()"
          [icon]="icons.paragraph"
          [title]="'Add text block'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendMultimediaBlock()"
          [icon]="icons.multimedia"
          [title]="'Add multimedia'">
        </cms-menu-button>

        <cms-menu-button
          (mouseup)="appendCodeBlock()"
          [icon]="icons.code"
          [title]="'Add code block'">
        </cms-menu-button>

        <cms-menu-button
          [icon]="icons.dynamicForms"
          [title]="'Add dynamic form'">
        </cms-menu-button>

        <cms-menu-button
          [icon]="icons.footnote"
          [title]="'Add footnote'">
        </cms-menu-button>

        <cms-menu-button
          [icon]="icons.codeProjects"
          [title]="'Code projects'"
          [isOffPage]="true"
          (click)="navigateToCodeProjects()">
        </cms-menu-button>

      </div>
  </div>
</div>
