@import '../../../../styles/variables';

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: $backgroundColor;
  background-size: 100%;
  transition: background 0s;
}

.button-wrapper {
  display: block;
}

.empty-button {
  width: 60px;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  color: $textColor;
  background-color: white;
  outline: none;
  font-weight: normal;

  position: relative;
  padding: 15px;

  font-family: 'Open Sans', sans-serif;

  &:hover {
    color: black;
  }
}

.menu-entry {
  width: 100%;
  float: left;

  margin-top: 10px;

  .title {
    width: 240px;
    float: left;

    margin-top: 13px;

    padding-left: 15px;

    color: $textColor;
  }

  &:hover {
    cursor: pointer;
  }
}

.col-xs-2 {
  padding: 0;
  margin: 0;
}
