@import '../../../../styles/variables';

.ripple {
  background-position: center;
  transition: background 0.8s;
}

.ripple:active {
  background-color: $backgroundColor;
  background-size: 100%;
  transition: background 0s;
}

.button-wrapper {
  display: block;
}

.button-icon {
  color: $appBlack;
}

.empty-button {
  width: 61px;
  font-size: 14px;
  border: none;
  border-radius: 2px;
  color: $textColor;
  background-color: white;
  outline: none;
  font-weight: normal;

  position: relative;
  padding: 15px;
}

.menu-entry {
  width: 100%;
  float: left;

  margin-top: 10px;

  border-left: 2px solid white;

  .desc-icon {
    display: block;

    margin: 15px 0 0 10px;
    margin-top: 15px;
    float: left;

    color: $lightestGray;
  }

  .title {
    width: 198px;
    float: left;

    margin: 13px 13px 0 0;

    padding-left: 15px;
    font-size: 0.9em;

    color: $textColor;
  }

  &:hover {
    cursor: pointer;
    border-left: 2px solid $editorMainColor;
  }

  &:hover .desc-icon {
    color: $editorMainColor;
  }

  &:hover .button-icon {
    color: $editorMainColor;
  }
}

.off-page-icon {
  position: absolute;

  bottom: 10px;
  right: 10px;
  font-size: 0.7em;
  color: $lightGray;
}

.col-xs-2 {
  padding: 0;
  margin: 0;
}
