<div class="dialog">
  <div class="close-dialog">
    <i (click)="close()" class="fas fa-times"></i>
  </div>

  <div class="header">
    <p>Main header block help and how to's</p>
  </div>

  <div matDialogContent class="content">
    <div class="help-content col-xs-12 col-md-12 col-lg-12">
      <p class="paragraph">Multimedia block is used to upload images from your own computer and from <a href="https://unsplash.com/" target="_blank">Unsplash</a>
        You can also embed Youtube videos.
      </p>

      <h2 class="subheader col-xs-12 col-md-12 col-lg-12">Upload a local image</h2>

      <img class="animation" src="/static/how_to_upload_an_image.gif" />

      <h2 class="subheader col-xs-12 col-md-12 col-lg-12">Embed an unsplash image</h2>

      <img class="animation" src="/static/how_to_embed_unsplash.gif" />

      <h2 class="subheader col-xs-12 col-md-12 col-lg-12">Embed a youtube video</h2>

      <img class="animation" src="/static/how_to_embed_youtube.gif" />

  </div>
</div>
