@import '../../../../../styles/variables';

.test-run-result-wrapper {
  position: relative;
  margin-top: 40px;

  .close-icon {
    position: absolute;
    top: 15px; right: 15px;
    color: $lightGray;

    &:hover {
      cursor: pointer;
      color: $appBlack;
    }
  }

  .result-block {
    max-height: 300px;
  }

  .button {
    float: right;
    padding: 5px;
    border: 1px solid $almostWhiteGray;
    border-radius: 10px;
    color: black;

    &:hover {
      border: 1px solid $mainAppColor;
      background-color: white;
      color: black;
    }
  }

  .status {
    display: inline-block;
    color: $appBlack;
    font-size: 0.8em;
    float: right;

    margin-right: 20px;
    margin-top: 8px;
  }

  .disabled {
    border: 1px solid $almostWhiteGray;
    color: $almostWhiteGray;

    &:hover {
      cursor: not-allowed;
      border: 1px solid $almostWhiteGray;
      background-color: white;
      color: $almostWhiteGray;
    }
  }
}
